<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<h1 class = "text-center"> Welcome to your CV creator ! </h1>

<div class="container">

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row"th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <button type=submit class="rounded">
                    <img src="../static/images/modifier-png-6.png" height="50" width="50">
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<h2 class="text-center"> New on this website ? Just sign in ! </h2>

    <center>
        <button type=submit class="btn btn-primary" href="/formulaire"> Sign in </button>
    </center>

</body>

</html>