<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Experiences form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
</head>

<body>

<nav class="navbarSiteWeb navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <a  class="btn btn-sm btn-outline-secondary" id="goHomePage">Acceuil</a>
        <a  class="btn btn-sm btn-outline-secondary" id="goPersoInfo">Informations Personnelles</a>
        <a  class="btn btn-sm btn-outline-secondary" id="goFormationInfo">Etudes</a>
        <a  class="btn btn-sm btn-outline-success" id="goProInfo">Parcour Professionnel</a>
    </form>
</nav>

<h1 class="titreh1"> Renseignez votre parcours professionnel</h1>

<!--
<div class="cadrePage">
    <div class="buttonAdd">
        <a onclick="cloning()" class="btn btn-primary float-right" id="clone"  title="Ajouter une expérience professionnelle"><img src="/images/add1.png" width="25px"></a>
    </div>
</div>
-->


<form method="post" th:action="@{'/addExperience/'+${user.id}}" th:object="${experience}">
    <div class="cadrePage" id="formulaire">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="jobTitleInput">Poste</label>
                <input type="text" th:value="jobTitle" th:field="*{jobTitle}" class="form-control" id="jobTitleInput"

                       aria-describedby="firstNameHelp" placeholder="Entrez votre poste">
            </div>
            <div class="form-group col-md-6">
                <label for="companyInput">Entreprise</label>
                <input type="text" th:value="company" th:field="*{company}" class="form-control" id="companyInput"
                       aria-describedby="lastNameHelp" placeholder="Entrez le nom de l'entreprise">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group  col-md-2">
                <label for="contractTypeInput">Type de contrat</label>
                <select name="contractType" class="custom-select" th:value="contractType" th:field="*{contractType}" id="contractTypeInput">
                    <option value="0">CDD
                    <option value="1">CDI
                    <option value="2">Stage
                </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="jobDescriptionInput">Description</label>
                    <textarea type="text" th:value="jobDescription" th:field="*{jobDescription}" class="form-control" id="jobDescriptionInput"
                              rows="3" placeholder="Donnez plus de détails concernant ce poste, votre rôle au sein de l'entreprise et ce que vous avez accompli..."></textarea>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="trainingStartDate">Début</label>
                    <input type="text" th:value="begYear" th:field="*{begYear}" class="form-control" id="trainingStartDate" placeholder="2000">
                </div>

            <div class="form-group  col-md-2">
                <label for="endedornot">Poste actuel ?</label>
                <select id="endedornot" onchange="affiche(this.value)" name="endedornot" class="custom-select" th:value="ended" th:field="*{ended}">
                    <option value="0">oui
                    <option value="1">non
                </select>
            </div>

                <div class="actuel form-group col-md-2">
                    <label for="trainingEndDate">Fin</label>
                    <input type="text" th:value="endYear" th:field="*{endYear}" class="form-control" id="trainingEndDate" placeholder="2020">
                </div>
            </div>


            <div class="button">
                <a onclick="toast()" class="btn btn-danger" title="Supprimer cette experience professionnelle"><img src="/images/delete.png" width="25px"></a>
            </div>

        <div id="snackbar">Ce poste a bien été supprimé</div>
    </div>

    <div class="cadrePage">
        <div class="buttonSave">
            <button href="./viewCV" class="btn btn-primary" id="saveProInfo"> Enregistrer les informations et accéder à votre CV </button>
        </div>
    </div>

</form>

</body>

<script src="/js/script.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</html>