<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Experiences form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
</head>

<body>

<nav class="navbarSiteWeb navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <a href="./" class="btn btn-sm btn-outline-secondary" id="goHomePage">Acceuil</a>
        <a href="./createAccount" class="btn btn-sm btn-outline-secondary" id="goPersoInfo">Informations personnelles</a>
        <a href="./addFormation" class="btn btn-sm btn-outline-secondary" id="goFormationInfo">Etudes</a>
        <a href="./addExperience" class="btn btn-outline-success" id="goProInfo">Parcour Professionnel</a>
    </form>
</nav>

    <h1 class="titreh1"> Renseignez votre parcour professionnel</h1>

<div class="cadrePage">
    <div class="buttonAdd">
        <a onclick="cloning()" class="btn btn-primary float-right" id="clone">Ajouter une experience professionnelle</a>
    </div>
</div>

<div class="container" id="formulaire">
    <!--/*@thymesVar id="experience" type="var"*/-->
        <form method="post" th:action="@{/addExperience}" th:object="${experience}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="jobTitleInput">Poste</label>
                    <input type="text" th:value="jobTitle" th:field="*{jobTitle}" class="form-control" id="jobTitleInput"

                           aria-describedby="firstNameHelp" placeholder="Entrez votre poste">
                </div>
                <div class="form-group col-md-6">
                    <label for="companyInput">Entreprise</label>
                    <input type="text" th:value="company" th:field="*{company}" class="form-control" id="companyInput"
                           aria-describedby="lastNameHelp" placeholder="Entrez le nom de l'entreprise">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="contractTypeInput">Type de contrat</label>
                <select name="contractType" size="1" th:value="contactType" th:field="*{contractType}" id="contractTypeInput">
                    <option value="0">CDD
                    <option value="1">CDI
                    <option value="2">Stage
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="jobDescriptionInput">Description</label>
                    <textarea type="text" th:value="jobDescription" th:field="*{jobDescription}" class="form-control" id="jobDescriptionInput"
                              rows="3" placeholder="Donnez plus de détails concernant ce poste, votre rôle au sein de l'entreprise et ce que vous avez accompli..."></textarea>
                </div>

            </div>
            <div class="form row">
                <div class="form-group col-md-2">
                    <label for="begYearInput">Début</label>
                    <input type="int" th:value="begYear" th:field="*{begYear}" class="form-control" id="begYearInput">
                </div>

                <div class="form-inline col-md-2">
                    <label for="exampleCheck1">Cochez s'il s'agit de votre poste actuel</label>
                    <input type="checkbox" th:value="ended" th:field="*{ended}" class="form-check-input" id="exampleCheck1">
                </div>

                <div class="form-group col-md-2">
                    <label for="endYearInput">Fin</label>
                    <div class="col-sm-8">
                        <input type="int" th:value="endYear" th:field="*{endYear}" class="form-control" id="endYearInput">
                        <!-- Afficher ce champs uniquement si la checkbox ended renvoi vrai cad que le job est terminé /-->
                    </div>
                </div>
            </div>
        </form>

    <div class="buttonFloat">
        <a onclick="toast()" class="btn btn-danger">Supprimer</a>
    </div>

    <div id="snackbar">Ce poste a bien été supprimé</div>

</div>

<div class="cadrePage">
<div class="buttonAdd">
    <a href="./viewCV" type="submit" class="btn btn-primary float-right">Enregistrer les informations et accéder à votre CV</a>
</div>
</div>

</body>

<script src="/js/script.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</html>