<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Experiences form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<h1 class="text-center"> Please complete you professional experiences : </h1>

<div class="container">
    <!--/*@thymesVar id="experience" type="var"*/-->
    <div class="row">
        <form method="post" th:object="${experience}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="jobTitleInput">Job title</label>
                    <input type="text" th:field="*{jobTitle}" class="form-control" id="jobTitleInput"
                           aria-describedby="firstNameHelp" placeholder="Enter job name">
                </div>
                <div class="form-group col-md-6">
                    <label for="companyInput">Company</label>
                    <input type="text" th:field="*{company}" class="form-control" id="companyInput"
                           aria-describedby="lastNameHelp" placeholder="Enter company name">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="contractTypeInput">Contract type</label>
                <select name="contractType" size="1" th:field="*{contractType}" id="contractTypeInput">
                    <option>CDD
                    <option>CDI
                    <option>Stage
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="jobDescriptionInput">Job Description</label>
                    <textarea type="text" th:field="*{jobDescription}" class="form-control" id="jobDescriptionInput"
                              rows="3" placeholder="job Description"></textarea>
                </div>

            </div>
            <div class="form row">
                <label for="begYearInput" class="col-sm-4 col-form-label">Beginning year</label>
                <div class="col-sm-8">
                    <input type="int" th:field="*{begYear}" class="form-control" id="begYearInput"
                           placeholder="Beginning year">
                </div>
                <div/>
                <div class="form-row">
                    <label class="form-check-label" for="exampleCheck1">Job ended</label>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                </div>
                <div class="form-row">
                    <label for="endYearInput" class="col-sm-4 col-form-label">End year</label>
                    <div class="col-sm-8">
                        <input type="int" th:field="*{endYear}" class="form-control" id="endYearInput">
                        <!-- Afficher ce champs uniquement si la checkbox ended renvoi vrai cad que le job est terminé /-->
                    </div>
                    >
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Add an experience</button>
    </div>
</div>
</body>
</html>