<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Professional Training</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
</head>

<body>

<nav class="navbarSiteWeb navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <a href="./" class="btn btn-sm btn-outline-secondary" id="goHomePage">Acceuil</a>
        <a href="./createAccount" class="btn btn-sm btn-outline-secondary" id="goPersoInfo">Informations Personnelles</a>
        <a href="./addFormation" class="btn btn-outline-success" id="goFormationInfo">Etudes</a>
        <a href="./addExperience" class="btn btn-sm btn-outline-secondary" id="goProInfo">Parcour Professionnel</a>
    </form>
</nav>

<h1 class = "text-center"> Renseigner vos études </h1>

<div class="cadrePage">
    <div class="buttonAdd">
        <a onclick="cloning()" class="btn btn-primary float-right" id="clone" title="Ajouter une formation supplémentaire" ><img src="/images/add1.png" width="25px"></a>
    </div>
</div>

<form method="post" th:action="@{/addFormation}" th:object="${formation}">

<div class="cadrePage" id="formulaire">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="trainingNameInput">Nom de l'école/organisation</label>
                <input type="text" th:value="trainingname" th:field="*{formationName}" class="form-control" id="trainingNameInput" aria-describedby="trainingNameHelp" placeholder="EPF">
            </div>
            <div class="form-group col-md-6">
                <label for="trainingLocationInput">Lieu</label>
                <input type="text" th:value="traininglocation" th:field="*{city}" class="form-control" id="trainingLocationInput" aria-describedby="trainingLocationHelp" placeholder="Sceaux">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="trainingStartDate">Début</label>
                <input type="text" th:value="trainingstartdate" th:field="*{begYear}" class="form-control" id="trainingStartDate" placeholder="2000">
            </div>

            <div class="form-group  col-md-2">
                <label for="endedornot">Formation actuelle ?</label>
                <select id="endedornot" onchange="affiche(this.value)" name="endedornot" class="custom-select" th:value="ended" th:field="*{ended}">
                    <option value="0">oui
                    <option value="1">non
                </select>
            </div>

            <div class="actuel form-group col-md-2">
                <label for="trainingEndDate">Fin</label>
                <input type="text" th:value="trainingenddate" th:field="*{endYear}" class="form-control" id="trainingEndDate" placeholder="2020">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
            <label for="trainingLevel">Niveau du diplôme</label>
            <select th:value="traininglevel" th:field="*{level}" class="custom-select" id="trainingLevel">
                <option value="1">BAC +1</option>
                <option value="2">BAC +2</option>
                <option value="3">BAC +3</option>
                <option value="4">BAC +4</option>
                <option value="5">BAC +5</option>
                <option value="6">BAC +6</option>
                <option value="7">BAC +7</option>
                <option value="8">BAC +8</option>
            </select>
            </div>
        </div>
        <div class="overflow-auto">
            <label for="trainingDescription">Description</label>
            <textarea th:value="trainingdescription" th:field="*{description}" class="form-control" id="trainingDescription" rows="3" placeholder="Donnez plus de détails sur ce que vous avez fait durant ces études/formations..."></textarea>
        </div>

        <div class="button">
            <a onclick="toast()" class="btn btn-danger" title="Supprimer cette formation"><img src="/images/delete.png" width="25px"></a>
        </div>

        <div id="snackbar">La formation a bien été supprimé</div>

    </div>

    <div class="cadrePage">
        <div class="buttonSave">
            <button href="./addExperience" class="btn btn-primary" id="saveFormaInfo"> Passer aux eperiences professionnelles </button>
        </div>
    </div>

</form>

</body>

<script src="/js/script.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</html>