<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Professional Training</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav class="navbarSiteWeb navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <a href="./homepage.html" class="btn btn-outline-success" id="goHomePage">Home</a>
        <a href="./createAccount.html" class="btn btn-sm btn-outline-secondary" id="goPersoInfo">Personnal Info</a>
        <a href="./addFormation.html" class="btn btn-sm btn-outline-secondary" id="goFormationInfo">Formation Info</a>
        <a href="./addExperience.html" class="btn btn-sm btn-outline-secondary" id="goProInfo">Professionnal Info</a>
    </form>
</nav>

    <h1 class = "text-center"> Fill in your professional training : </h1>

<div class="container">
    <form method="post" th:action="@{/addFormation}" th:object="${formation}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="trainingNameInput">Training Name</label>
                <input type="text" th:value="trainingname" th:field="*{formationName}" class="form-control" id="trainingNameInput" aria-describedby="trainingNameHelp" placeholder="Enter first name">
            </div>
            <div class="form-group col-md-6">
                <label for="trainingLocationInput">Training Location</label>
                <input type="text" th:value="traininglocation" th:field="*{city}" class="form-control" id="trainingLocationInput" aria-describedby="trainingLocationHelp" placeholder="Enter last name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="trainingStartDate">Start Date</label>
                <input type="date" th:value="trainingstartdate" th:field="*{begYear}" class="form-control" id="trainingStartDate">
            </div>
            <div class="form-group col-md-2">
                <label for="trainingEndDate">End Date</label>
                <input type="date" th:value="trainingenddate" th:field="*{endYear}" class="form-control" id="trainingEndDate">
            </div>
        </div>
        <div>
            <label for="trainingLevel">Training Level</label>
            <select th:value="traininglevel" th:field="*{trainingLevel}" class="custom-select mr-sm-2" id="trainingLevel">
                <option value="1">BAC +1</option>
                <option value="2">BAC +2</option>
                <option value="3">BAC +3</option>
                <option value="4">BAC +4</option>
                <option value="5">BAC +5</option>
                <option value="6">BAC +6</option>
                <option value="7">BAC +7</option>
                <option value="8">BAC +8</option>
            </select>
        </div>
        <div class="overflow-auto">
            <label for="trainingDescription">Training Description</label>
            <textarea th:value="trainingdescription" th:field="*{trainingDescription}" class="form-control" id="trainingDescription" rows="3" placeholder="Give more details about what you have done during your training"></textarea>
        </div>

        <a onclick="myFunction()" type="submit" class="btn btn-primary">Add</a>
        <div id="snackbar">The formation has been added</div>

    </form>
</div>

</body>

<script src="./test.js"></script>

</html>