<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="form-group">
        <img src="../images/personne.png" height="200" width="200">

        <p class="espace" th:text="${user.firstName}">Ferdinand</p>
        <p class="espace" th:text="${user.lastname}">Duchet-Suchaux</p>
        <p class="espace" th:text="${user.birthDate}">24/12/1995</p>
        <p class="espace" th:text="${user.mail}">ferdinand.duchet-suchaux@epfedu.fr</p>
        <p class="espace" th:text="${user.telePhone}">0642410971</p>
        <p class="espace" th:text="${user.address}">82 rue Edouard Vaillant</p>
        <div class="form-row">
            <p class="espace" th:text="${user.city}">Colombes, </p>
            <p class="espace" th:text="${user.zip}">92700</p>
        </div>

    </div>


</div>

</body>
</html>