<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Experiences form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<h1 class = "text-center"> Please complete you professional experiences : </h1>

<div class="container">
    <form method="post" th:action="@{/experiences}" th:object="${experience}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="jobTitleInput">Job title</label>
                <input type="text" th:field="*{experience.jobTitle}" class="form-control" id="jobTitleInput" aria-describedby="firstNameHelp" placeholder="Enter job name">
            </div>
            <div class="form-group col-md-6">
                <label for="companyInput">Company</label>
                <input type="text" th:field="*{company}" class="form-control" id="companyInput" aria-describedby="lastNameHelp" placeholder="Enter company name">
            </div>
        </div>
        <div class="form-group col-md-6">
            <input type="date" th:field="*{contractType} "id="contract">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" th:field="*{mail}" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputTelephone4">telephone</label>
                <input type="telephone" th:field="*{telePhone}" class="form-control" id="inputTelephone4" placeholder="Telephone">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" th:field="*{address}" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" th:field="*{city}" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" th:field="*{state}" class="form-control" id="inputState">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" th:field="*{zip}" class="form-control" id="inputZip">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>

</body>

</html>