<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulaire formation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <h1 class = "text-center"> Fill in your professional training : </h1>

<--
    nom de l'école/formation
    location (en anglais)
    date début
    date fin -> checkbox si en cours ou terminé
    niveau de la formation
    descriptif de la formation

    bouton "add" si l'utilisateur a fait plusieurs formations
--/>

<div class="container">
    <form method="post" th:action="@{/formulaire2}" th:object="${formation}">

    </form>
</div>

</body>

</html>