<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
</head>

<body>

<nav class="navbarSiteWeb navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <a href="./" class="btn btn-outline-success" id="goHomePage">HomePage</a>
    </form>
</nav>

<h1 class = "titreh1"> Welcome to your CV creator ! </h1>

<div class="cadrePageAcceuil">

    <div class="button">
    <label for="createAccountButton"> Vous n'avez pas encore de compte ? </label>
    <a href="./createAccount" class="btn btn-primary" id="createAccountButton">Créer un compte</a>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row" th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <div class="btn-group float-right m-3">
                    <a th:href="@{'/editAccount/'+${user.id}}" class="btn btn-primary">Modifier un compte</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>

</html>