<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"/>
</head>

<body>
<nav class="navbarSiteWeb navbar-dark bg-dark">
    <!-- Navbar content -->
    <form class="form-inline">
        <a href="./" class="btn btn-outline-success" id="goHomePage">HomePage</a>
        <a class="text-light"> &nbsp; Vous n'avez pas encore de compte ? &nbsp;</a>
        <a href="./createAccount" class="btn btn-primary float-right" id="createAccountButton">Créer un compte</a>
    </form>
</nav>

<div class="cadrePageAcceuil">

    <h1 class = "titreh1"> Bienvenu sur notre site de création de CV </h1>

    <table class="table table-bordered">

        <thead class="thead-dark">
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row" th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td width="25px">
                <div class="btn-group float-right m-3">
                    <a th:href="@{'/editAccount/'+${user.id}}" class="btn buttonhome btn-primary" title="modifier les informations personnelles de cet utilisateur"><img src="/images/modifier-png-6.png" width="25px"></a>
                    <a th:href="@{'/editFormation/'+${user.id}}" class="btn buttonhome btn-primary" title="modifier les informations relatives aux formations de cet utilisateur"><img src="/images/formation.png" width="25px"></a>
                    <a th:href="@{'/editExperience/'+${user.id}}" class="btn buttonhome btn-primary" title="modifier les informations relatives au parcours professionnel de cet utilisateur"><img src="/images/professionnel.png" width="25px"></a>
                    <a th:href="@{'/viewCV/'+${user.id}}" class="btn buttonhome btn-primary" title="visualiser le CV de ce compte"><img src="/images/CV.png" width="25px"></a>
                    <a th:href="@{'/deleteUser/'+${user.id}}" class="btn buttonhome btn-danger" title="Supprimer ce compte"><img src="/images/delete.png" width="25px"></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>

</html>